/* Colors */
$first-color: #272a3a;
$first-color-light: #8a8eaa;
$first-color-lighten: #f8f8fc;

/* Layout */

/* Fonts */
$body-font: "Ubuntu", sans-serif;
$normal-font-size: 1rem;
$smaller-font-size: 0.813rem;

/* z-index */
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/* Breakpoints */
$sm: 420px;

$min-sm: 421px;
$max-sm: 767px;

$min-md: 768px;
$max-md: 1023px;

$min-lg: 1024px;
$max-lg: 1365px;

$hg: 1366px;
